@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100vw;
    height: 105vh;
    background-color: black;
}
body{
    background: url('../pacote-d013/imagens/fundo-madeira.jpg')no-repeat bottom center fixed;
    background-size: cover;
    
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background: url(../pacote-d013/imagens/frame-iphone.png) no-repeat;

    /*background: blue url(../pacote-d013/imagens/frame-iphone.png) no-repeat;*/
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}
section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform 0.5s, border 1s;
}

